<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>insertDeletElementTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0409C07A1D75C33700445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0409C08E1D75C33700445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0409C0991D75C33700445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
